</h1>

<p>
	Seja Bem Vindo, <%= @usuario.nome %>!

	<% unless @usuario.turmas.empty? %>
		<table>
			<tr>
	    	<th>Você é professor das turmas</th>
	    </tr>
	
			<% @usuario.turmas.each do |turma| %>
				<tr>
					<td><%= link_to turma.disciplina, turma %></td>
				</tr>
			<% end %>
		</table>
	<% end %>
	
	<br />	
	
	<% unless @usuario.disciplinas.empty? %>
		<table>
			<tr>
	    	<th>Você está matriculado nas turmas</th>
	    </tr>
	
			<% @usuario.disciplinas.each do |disciplina| %>
				<tr>
					<td><%= link_to disciplina.disciplina, disciplina %></td>
				</tr>
			<% end %>
		</table>
	<% end %>

</p>