body {
	margin: 0;
	background-color: #fbfbfb;
}

h1 {
	color: #ff0000;
}

table {
	margin : 0;
}

td {
	vertical-align: middle;
}

table.left_column {
	margin : 0;
	width: 200px;
}

#left_column {
	float:left;
	width: 200px;
	height: 1000px;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #999999;
}

#main_column {
	float:left;
	margin-left: 10px;
}

#top_bar {
	background: #3b5990;
	width: 100%;
}

#top_bar #left_part{
	width: 200px;
	margin-left:  5%;
	text-align: right;
}

a.top_bar {
	
}

a:hover.top_bar {
	background: #4b67a8;
}

#main_page {
	margin-left: 5%;
	width: 95%;
}

/*Menu drop-down*/
ul.menubar{
  margin: 0px;
  padding: 0px;
  background-color: #FFFFFF; /* IE6 Bug */
  font-size: 100%;
  margin-left: 30px;
}
 
ul.menubar .submenu{
  margin: 0px;
  padding: 0px;
  list-style: none;
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  float:left;
}
 
ul.menubar ul.menu{
  display: none;
  position: absolute;
  margin: 0px;
}
 
ul.menubar a{
  padding: 5px;
  display:block;
  text-decoration: none;
  color: #777;
  padding: 5px;
}
 
ul.menu, ul.menu ul{
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  width: 150px; /* Width of Menu Items */
  background-color: #FFFFFF; /* IE6 Bug */
}
 
ul.menu li{
  position: relative;
  list-style: none;
  border: 0px;
}
 
ul.menu li a{
  display: block;
  text-decoration: none;
  border: 1px solid #ccc;
  border-bottom: 0px;
  color: #777;
  padding: 5px 10px 5px 5px;
}
 
ul.menu li sup{
  font-weight:bold;
  font-size:7px;
  color: red;
}